.bs-example {
    margin-left: 15%;
    margin-right: 15%;
}

.jumbotron  {
    margin-bottom: 0px;
}

.bs-example {
    margin: 0px;
}

.bg-dark {
    background-color: #212529!important;
}

.navbar-brand {
    font-size: 20px;
    font-family: sans-serif;
}

footer {
    padding: 0px 0px 0px 0px;
    background-color: #212529;
    margin: 0px;
}

.fa {
    padding: 20px;
    font-size: 23px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}


body {
margin: 0;
padding: 0;
font-family: sans-serif;
background: linear-gradient(to right, #b92b27, #1565c0)
}

.box {
width: 500px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
background: #191919;

text-align: center;
transition: 0.25s;
margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 10px 10px;
width: 250px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s
}

.box h1 {
color: white;
text-transform: uppercase;
font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
width: 300px;
border-color: #2ecc71
}

.box input[type="submit"] {
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 14px 40px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer
}

.box input[type="submit"]:hover {
background: #2ecc71
}

.red {
    background-color: red;
}
